.customBtn{
    background-color:#00549F;
    color: white;
    /* height: 40px; */
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
}

.customBtnOutline{
    background-color: white;
    color: #00549F;
    /* height: 40px; */
    display: flex;
    align-items: center;
    border-color: 1px solid #00549F;
    gap: 5px;
}

