.container {
  border: 1px solid #13294b14;
  border-radius: 20px 20px 0px 0px;
  margin-top: 1rem;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 20px;
}

.filterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #00000029;
  border-radius: 20px;
}
